@page
@model flight_management_system.Pages.Agency.IndexModel
@{
}
<div class="head-img">
    <img src="https://calaero.edu/wp-content/uploads/2023/08/iStock-1332501286-scaled.jpg" />
</div>
<div class="content-left">
    <a class="button-style" href="/Agency/Register"> + Register agency</a>
    <h2 class="color-white">List of agencies</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Agency Id</th>
                <th>Agency Name</th>
                <th>Agency Location </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listAgencies)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Location</td>
                    <td>
                        <a class="edit-btn" href="/Agency/Edit?id=@item.Id">Edit</a>
                        <a class="delete-btn" href="/Agency/Delete?id=@item.Id" onclick="return confirm('Are you sure you want to delete this agency?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
