/* wwwroot/css/site.css */
.navbar {
    background-color: #333;/*BLACK NAVIGATION*/
    color: white;
    padding: 10px 0;
    min-height:50px;
    position: relative;
}

    .navbar .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.navbar-brand {
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: white;
}

    .nav-link:hover {
        color: #FFCB00;
    }
