@page
@model flight_management_system.Pages.AboutUsModel
@{
}
<div class="project">
    
</div>
<div class="team">
    <h2> Our Team</h2>

    <div class="member">
        <span>24377</span>
        <span>Giraneza Jean de Dieu</span>
        <span><a href="https://github.com/JD-Me98"><img class="git-logo" src="~/images/github.png" />JD-Me98</a></span>
    </div>
    <div class="member">
        <span>23099</span>
        <span>Manzi Olivier</span>
        <span><a href="https://github.com/manziolivier"><img class="git-logo" src="~/images/github.png" />manziolivier</a></span>
    </div>
    <div class="member">
        <span>24371</span>
        <span>Uwineza R. Denyse</span>
        <span><a href="https://github.com/denyserurangwa"><img class="git-logo" src="~/images/github.png" />denyserurangwa</a></span>
    </div>
    <div class="member">
        <span>23427</span>
        <span>Nze Eny Quentinia Sandrine</span>
        <span><a href="https://github.com/Quatys"><img class="git-logo" src="~/images/github.png" />Quatys</a></span>
    </div>
    <div class="member">
        <span>24287</span>
        <span>Tueny Aterdit Rin</span>
        <span><a href="https://github.com/Tueny"><img class="git-logo" src="~/images/github.png" />Tueny</a></span>
    </div>
    <div class="member">
        <span>23627</span>
        <span>Mutoni Keziah Rukazambuga</span>
        <span><a href="https://github.com/toni-cassia"><img class="git-logo" src="~/images/github.png" />toni-cassia</a></span>
    </div>
</div>