@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="home-title">
    <h1>Checkout Our Top Destinations!</h1>
</div>
<div class="card-holder">
    
    @foreach(var item in Model.listDestinations)
    {
        <div class="img-card">
            <img src="~/uploads/@item.image"/>
            <div class="card-title">
                <h2>@item.Name</h2>
            </div>
            <div class="subtitle">
                <span>@item.Location</span>
            </div>
            <a class="button-style" href="~/Booking/Index?destinationId=@item.id">Book Now</a>
        </div>
    }


</div>
